/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
    }
    .dialog{
    margin:0 auto;
  }
  .konten h3{
    font-size: 28px;
  }
  
  .heading h2{
    font-size: 30px;
  }
  .heading p{
    font-size: 24px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none!important;
  }
  .menu-icon {
    display: block;
  }
  .lesson-wrapper {
    padding-bottom: 45px;
  }
  footer img {
    width: 115px;
  }
  footer .container p {
    font-size: 10px;
    width: 200px;
  }
  .lesson {
    width: 100%;
    padding-top: 45px;
  }
  .lessons {
    padding-bottom: 80px;
    padding-top: 0px;
  }
  .ruby , .php {
    padding-top: 0px;
  }
  .heading {
    padding-bottom: 15px;
  }
  .message-wrapper h3 {
    padding-bottom: 35px;
  }
  footer{
    text-align: center;
  }
}
